includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 0
    phpVersion: 80400
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - wp-plugin-tests
        - obsidian
        - context
        - development
        - languages
    scanDirectories:
        - vendor/php-stubs/woocommerce-stubs
    ignoreErrors:
        - '#Constant [A-Z_]+ not found#'
