parameters:
    level: 0
    phpVersion: 80400
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - wp-plugin-tests
        - obsidian
        - context
        - development
        - languages
    bootstrapFiles:
        - %rootDir%/../../szepeviktor/phpstan-wordpress/bootstrap.php
    scanDirectories:
        - %rootDir%/../../php-stubs/woocommerce-stubs
    ignoreErrors:
        - '#Constant [A-Z_]+ not found#'
        - '#Function (apply_filters|do_action) invoked with#'
